body {
margin: 0;
background-color:#faf8f8;
color: #dcdcdd;
font-family: Bahnschrift;
background-image: url("hab.png");
background-size: 100%;
background-repeat: no-repeat;
}

nav {
padding: 0;
margin: 0;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index:1;
}

ul.navigation {
margin: 0;
list-style-type: none;
background-color:#4d5259;
overflow: hidden;
}

li {
display: block;
float: right;
}

#name {
display: block;
padding: 12px 5px 8px 0;
font-size: 30px;
}

li a {
display: block;
padding: 16px 20px;
text-decoration: none;
color: #dcdcdd;
font-size: 20px;
}

li a:hover {
background-color:#5d6269;
}

div.highlight {
display: block;
background-color:#9da2a9;
margin: 5% 20% 0 20%;
padding: 0.1% 1%;
text-align: left;
}

div.intro {
display: block;
background-color:#4d5259;
margin: 52px 0 40% 0;
padding: 0.1% 1%;
text-align: left;
}


div.mainpage {
display: block;
background-color:#4d5259;
margin: 0;
padding: 1% 1%;
text-align: left;
border-bottom: 2px dashed #515559;
}


div.sticky {
position: -webkit-sticky;
position: sticky;
top: 25%;
padding: 0.1% 1%;
margin: 25% 0;
background-color: #9da2a9;
}

div.bottom {
display: block;
background-color:#7d8289;
margin: 0;
padding: 0.1% 1%;
text-align: center;
}

input {
height:8%; 
width:20%; 
border: 1px dotted grey;
border-radius: 2px;
background-color: #faf8f8;
font-size:2vw;
padding: 5px 10px;
}

input:hover {
background-color:#eae8e8;
}